@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Yellowtail&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: ;
}

header {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

/* hero image and big title */
#hero-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),     rgba(255, 255, 255, 0.5)), url(../images/hero.png);
    flex-grow: 2;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  #hero-image h1 {
    line-height:0.83em;
    text-align: center;
    font-family: Cinzel, sans-serif;
    color:#3c54a3 ;
    text-shadow: 2px 2px 0 #FFF3B0;
    font-size: 5em;
    margin-bottom: 0.1em;
  }

  .slogen{
    font-family: 'Yellowtail', sans-serif;
    font-size: 3em;
    color: black;
  }

/* nav bar */
  nav {
      font-size: 2rem;
      padding: 20px;
      font-family: Cinzel, sans-serif;
      display: flex;
      justify-content: center;
      background-color: #3c54a3;
  }

  nav li {
      list-style: none;
      margin: 10px;
      padding-left: 15px;
  }

  nav a {
    text-decoration: none;
    color: #FFF3B0;
  }

  