@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Yellowtail&family=Zilla+Slab:wght@300&display=swap');

* {
    /* box-sizing: border-box; */
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFF;
    background-image: url(../images/wall-background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

header {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

section {
    font-size: 2em;
    margin: 50px 5% 50px 5%;
    background-color: #FFF3B0;
    border: 2px solid #3c54a3;
    color: #000000;
    border-radius: 50px;
}   

h2 {
    color: #3c54a3;
    font-family: Cinzel, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

h3 {
    color: #FFF3B0;
    font-family: Zilla Slab, sans-serif;
}

h4 {
    color: #FFFF;
    font-family: Zilla Slab, sans-serif;
}

p {
    width: 50%;
    padding-bottom: 10px;
    font-family: Zilla Slab, sans-serif;
    display: flex;
    line-height: 60px;
}


/* hero image and big title */
#hero-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),     rgba(255, 255, 255, 0.5)), url(../images/hero.png);
    flex-grow: 2;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  #hero-image h1 {
    line-height:0.83em;
    text-align: center;
    font-family: Cinzel, sans-serif;
    color:#3c54a3 ;
    text-shadow: 2px 2px 0 #FFF3B0;
    font-size: 5em;
    margin-bottom: 0.1em;
  }
  
  .slogan{
    font-family: 'Yellowtail', sans-serif;
    font-size: 3rem;
    color: #000000;
  }

/* nav bar */
  nav {
      font-size: 2rem;
      font-family: Cinzel, sans-serif;
      background-color: #3c54a3;
      margin: 0;
      position: sticky;
      top: 0;
      z-index: 999;
  }

  nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    
  }

  nav li {
      list-style: none;
      margin: 10px;
      padding-left: 15px;
  }

  nav a {
    text-decoration: none;
    color: #FFF3B0;
  }

  nav a:hover {
      border-bottom: 1px solid;
  }

  .nav-jump {
      scroll-margin-top: 4em;
  }

  .section-content {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 50px;
  }

    #mobile-nav {
        display: none;
    }

  /* welcome */
  #night-marina {
      height: auto;
      width: 40%;
      margin-bottom: 50px;
  }
  
  /* facilities */
  #facilities-list {
      width: 32%;
      font-family: Zilla Slab, sans-serif;
      background-color: #3c54a3;
      border-radius: 50px;
      color: #FFF3B0;
  }

  /* Mooring Fees Table */
  table{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  table, th, td {
      padding: 5px;
      border-radius: 30px;

  }

  td {
      background-color: #3c54a3;
      color: #FFF3B0;
      border: 2px solid #FFF3B0;
      font-family: Zilla Slab, sans-serif;
      font-size: 1em;
      padding: 10px;
      text-align: center;
  }

  th {
    color: #3c54a3;
    background-color: #FFF3B0;
    border: 3px solid #3c54a3 ;
    font-family: Cinzel, sans-serif;
    font-size: 0.75em;
    padding: 30px;
}

    .description {
        text-align: center;
        width: auto;
        display: block;
        margin: 10px
    }

    /* Clubhouse Cafe */
    #cafe-offers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 60px;
        margin-left: 60px;
        margin-right: 60px;                                                                                                                                     
    }

    #cream-tea {
        border: 1px solid #000000;
        border-radius: 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),     rgba(0, 0, 0, 0.4)),  url(../images/cream-tea.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right ;
        margin: 10px;
        font-size: 1em;
        width: 25%;
        text-shadow: 2px 2px #000000;
      
    }

    #soup {
        border: 1px solid #000000;
        border-radius: 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),     rgba(0, 0, 0, 0.4)), url(../images/soup.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
        margin: 10px;
        width: 25%;
        text-shadow: 2px 2px #000000;
    }

    #cake {
        border: 1px solid #000000;
        border-radius: 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),     rgba(0, 0, 0, 0.4)), url(../images/cake.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: right;
        margin: 10px;
        width: 25%;
        text-shadow: 2px 2px #000000;
    }

    #steak {
        border: 1px solid #000000;
        border-radius: 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),     rgba(0, 0, 0, 0.4)), url(../images/steak.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        margin: 10px;
        width: 25%;
        text-shadow: 2px 2px #000000;
      
    }




  /* contact us */
    input {
        font-family: Zilla Slab, sans-serif;
        font-size: 1em;
        width: 100%;
        color: #3c54a3;
  }

  .form-structure {
      display: block;
      line-height: 50px;
      font-family: Cinzel, sans-serif;
      color: #3c54a3;
      
  } 
  
    #contact-form {
      margin: 30px;
      padding: 50px;
      border: 5px solid #3c54a3;
      background-image: url(../images/wall-background.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  #form-section {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
  }

  select {
      font-size: 1em;
      font-family: Zilla Slab, sans-serif;
      color: #3c54a3;
  }

  textarea {
      font-size: 1em;
      font-family: Zilla Slab, sans-serif;
      color: #3c54a3;
      width: 100%;
      height: 15em;

  }

  #send-button {
      background-color: #3c54a3;
      color: #FFF3B0;
      font-family: Cinzel, sans-serif;
      width: 15em;
      height: auto;
  }
 
  /* map */
  .mapouter {
      position:relative;
      text-align:right;
      height:500px;
      margin-top: 30px;
      border: 5px solid #3c54a3
    }

    .mapouter iframe {
        width: 100%;
        height: 100%;
    }

    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:500px;
        width: 100%;
    }

    #right-side-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }  
    
    .phone-number {
        padding: 50px;
        font-family: Cinzel, sans-serif;
        background-image: url(../images/boat-cat.png) ;
        background-size: 100% 100%;
        color: #FFF3B0;
        margin-top: 40px;
        margin-left: 0;
        border: 5px solid #3c54a3;
        width: auto;
        height: 400px;

    }

    .phone-number:hover {
        background-image: url(../images/porthole-cat.png);
        background-size: 100% 100%;
        text-shadow: 2px 2px #000000;
        color: #FFFF;

    }

    /* footer */
    footer {
        background-color: #3c54a3;
        flex-direction: row;
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding: 40px;
        
    }

    #mailing-list {
        font-size: 160%;
        text-align: start;
        font-family: Cinzel, sans-serif;
        color: #FFF3B0;
        flex-grow: 1;
    }

    #mailing-email {
        font-size: 0.8em;
        width: 250px;
    }

    #sign-up-button {
        width: 100px;
        background-color: #FFF3B0;
    }

    #mailing-email-button {
        display: flex ;
        flex-direction: row;
        font-size: 0.8em;
    }

    #top-button {
        font-size: 300%;
        color: #FFF3B0;
        border: 2px solid #FFF3B0;
        padding: 5px;
        margin-right: 200px ;
    }

    #top-button:hover {
        color: #3c54a3;
        border-color: #3c54a3;
        background-color: #FFF3B0;
    }
    
    .social-networks {
        text-align: end;
        margin: 0;
        padding: 0;
        flex-grow: 1;
    }
    
    .social-networks > li {
        display: inline;
    }
    
    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 2%;
        color: #FFF3B0;
    }

    .social-networks i:hover {
        background-color: #FFF3B0;
        color: #3c54a3;
    }
    
    .social-networks a {
        text-decoration: none;
    }

    /* success */
    .success-page {
        color: #3c54a3; 
        text-align: center;
        font-size: 2em;
        font-family: Cinzel, sans-serif;
    }

    #success-page-small {
        color: #3c54a3;
    }

    .success-tick {
        font-size: 5em;
        color: green;
    }


 


    @media only screen and (max-width: 800px) {
        #hero-image h1 {
             font-size: 3em;
            }

        .slogan{
            font-size: 1.5em;
        }

        section {
            font-size: 1em;
        }

        .section-content {
            display: flex;
            flex-direction: column;
        }
        
         p {
            line-height: 20px;
            width: 90%;
            margin: 5%;
        }

        #night-marina {
            height: auto;
            width: 90%;
            margin: 5%;
        }

        #facilities-list {
            width: 90%;
            margin: 5%;
        }

        .form-structure {
            line-height: 20px;
        } 

        #send-button {
            width: 11.5em;
        }

        #form-section {
        flex-direction: column;
        padding: 7%;
        }

         #right-side-form {
             padding: 9%;
         }

        #desktop-nav {
            display: none;
        }

        #mobile-nav {
            display: block;
        }

        #mobile-nav ul {
            flex-direction: column;
            display: none;
        }

        .hamburger:hover + ul,
        .hamburger:focus + ul,
            .hamburger:active + ul {
            display: flex !important;
        }

        .nav-jump {
            scroll-margin-top: 0em;
        }

        .table-container {
            width: 100%;
            overflow: scroll;
        }

        .table-container table {
            display: table;
        }

        #cafe-offers {
            flex-direction: column;
        }

        #cream-tea {
            width: 100%;
        }


        #soup {
            width: 100%;
        }


        #cake {
            width: 100%;
        }


        #steak {
            width: 100%;
        }

        .phone-number {
            width: auto;
            height: 250px;
            width: auto;
            margin-right: 0.7%;
        }

        footer {
            flex-direction: column;
            align-items: center;
            padding: 5%;
        }

        #top-button {
            margin: 0;
            padding-bottom: 5%;
        }

        .social-networks {
            width: 100%;
            text-align: center;
            padding-top: 5% ;
        }

        #mailing-list {
        font-size: 100%;
        padding-bottom: 2%;
        }

        .success-page {
            font-size: 1.5em;
        }
    
        #success-page-small {
            color: #3c54a3;
        }
    
        


    }



  